<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<%= button_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to '<button>Show</button>'.html_safe, @blog %>
<%= link_to '<button>Back</button>'.html_safe, blogs_path %>
