<main class="container">
  <section>
    <header class="main">
      <h1>About Me</h1>
    </header>
  
    <span class="image main"> <%= image_tag "about.jpg" %> </span>
  
    <p>Born in Venezuela I came to the United States in the early 2000s when I was around 15 years old. Coming from Lagunillas, a town below sea level -8m, we moved to Denver the so-called mile-high city (5,280’). My love for travelling and the outdoors started much earlier however...</p>
    <p>From an early age I’m thankful that my family was never one to stay put. Whether it was for moving to different places, taking vacations or visiting relatives we were never rooted for very long. I remember trips to Merida (where the andes end in Venezuela), to the sand dunes in Coro, and to Margarita to see my dad and often do some snorkeling and camping. There were also the road trips to visit family in Barquisimeto, Valencia, and Puerto la Cruz. I remember flying to Margarita with my younger brother on a plane by ourselves… of course our mom was there to drop us off and my dad picked us up but I felt pretty badass at age x9. Later in my teens I would learn to scuba dive and our first open water dive was in the national park Morrocoy in the state of Falcón.</p>
    <p>In Colorado my love for the outdoors only blossomed. Floating down the river or “tubing,” camping trips, hiking adventures and skiing/snowboarding are some of the activities I frequently did. In my 20s I would get more into climbing and doing more serious and strenuous hikes like the famous “14ers” in Colorado and backpacking trips. Meanwhile my love for travelling also kept growing with road trips that took me several times to the east coast, the west coast, the south and even Mexico and Canada.</p>
    <p>During my college career I decided to go abroad for a semester in Italy, so taking that opportunity I decided to do 3 months of backpacking as well. Went all over Western Europe and I can’t wait to go back and explore the Eastern side in the future. Some of the highlights of that trip were hiking the amalfi coast, diving in the Canary Islands, and road tripping in Spain. I also took a two month trip to the Yucatan Peninsula where I fell in love with Isla Mujeres because I felt like I was back in Margarita. I got to explore some ruins, do some scuba diving to check out the underwater statue museum, swam with whale sharks and explored some of the cool Cenotes.</p>
    <p>Now I’m off to South America and let’s see what other adventures I can get myself into in the future...</p>
  
  </section>
</main>
