<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1> Rj Travels 
        <br /> South America</h1>
    </header>
    <p> I’m currently getting ready to leave backpacking South America! The plan at the moment is to start in Colombia and make my way to Patagonia. The countries I will be visiting are Colombia, Ecuador, Perú, Bolivia, Chile and Argentina. If time allows I will also visit Brazil and if, and I realize that it's a very big if, Venezuela gets safer then I will pay home a visit too.  </p>
    <ul class="actions">
      <li><a href="/about" class="button big">Learn More</a></li>
    </ul>
  </div>
  <span class="image object">
    <%= image_tag "cover.jpg" %>
  </span>
</section>

<!-- Section -->
<section>
  <header class="major">
    <h2>Information</h2>
  </header>
  <div class="features">
    <article>
      <a href="/blog"><span class="icon fa-paper-plane"></span></a>
      <div class="content">
        <h3><a href="/blog">Blog</a></h3>
        <p>All blog entries to date.</p>
      </div>
    </article>
    <article>
      <a href="/gallery"><span class="icon fa-file-image-o"></span></a>
      <div class="content">
        <h3><a href="/gallery">Gallery</a></h3>
        <p>For those who hate reading. Here you’ll find pictures by country.</p>
      </div>
    </article>
    <article>
      <a href="/map"><span class="icon fa-map"></span></a>
      <div class="content">
        <h3><a href="/map">Map</a></h3>
        <p>An up to date map of where I am as of my last post, my current trip and where I’ve been.</p>
      </div>
    </article>
    <article>
      <a href="/about"><span class="icon fa-user"></span></a>
      <div class="content">
        <h3><a href="/about">About Me</a></h3>
        <p>Learn more about me and where I come from.</p>
      </div>
    </article>
  </div>
</section>

<!-- Section -->
<section>
  <header class="major">
    <a href="/blogs"><h2>Blog Posts</h2></a>
  </header>
  <div class="posts">
    <article>
      <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>Interdum aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
      <h3>Nulla amet dolore</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
      <h3>Tempus ullamcorper</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
      <h3>Sed etiam facilis</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
      <h3>Feugiat lorem aenean</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
    <article>
      <a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
      <h3>Amet varius aliquam</h3>
      <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </article>
  </div>
</section>
